body {
    padding-left: 20%;
    padding-right: 20%;

}

h1,h2, h3, bold, strong {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px solid LightSlateGray;
}

hr {
    border: 1px LightSlateGrey dotted;
    width: 50%;
}

p {
    text-decoration-color: DarkSlateGray;
    font-family: Georgia, serif;
}