body {
    padding: 50px 20%;
    font-family: 'Merriweather', Georgia, serif;
}

h1, h2, h3, bold, strong {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px solid LightSlateGray;
}

hr {
    border: 1px LightSlateGrey dotted;
    width: 50%;
}

p {
    text-decoration-color: DarkSlateGray;
    text-align: justify;
    font-style: italic;
}

h1 {
    text-transform: uppercase;
}

#big-achievement {
    color: red
}


.differentEngine {
    font-style: italic;
}

div > p {
    font-style: italic;
}